homeassistant:
  # Name of the location where Home Assistant is running
  name: Nhà Hoan
  # Location required to calculate the time the sun rises and sets
  latitude: 10.8142
  longitude: 106.6438
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 5
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Asia/Ho_Chi_Minh
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:
mqtt:
  broker: 192.168.1.62
  port: 1883
  username: homeassistant
  password: viendanghoan2018
  protocol: 3.1.1
  
http:
  base_url: viendanghoan.duckdns.org
  ssl_certificate: /home/homeassistant/dehydrated/certs/viendanghoan.duckdns.org/fullchain.pem
  ssl_key: /home/homeassistant/dehydrated/certs/viendanghoan.duckdns.org/privkey.pem

  api_password: "viendanghoan2018"
 # base_url: minhthanhhome.duckdns.org
 # ssl_certificate: /home/homeassistant/dehydrated/certs/minhthanhhome.duckdns.org/fullchain.pem
 # ssl_key: /home/homeassistant/dehydrated/certs/minhthanhhome.duckdns.org/privkey.pem

 # api_password: ""


  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:
recorder:
  purge_keep_days: 2
# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Weather prediction



# Text to speech
tts:
  - platform: google

# Cloud
cloud:
sensor:
  - platform: yr
  - platform: template
    sensors:
      device1:
        friendly_name: "Cảm biến 01" 
        value_template: >-
          {% if is_state('binary_sensor.motion_sensor_158d00021358ca', 'on') %}
            Phát hiện có chuyển động
          {% elif is_state('binary_sensor.motion_sensor_158d00021358ca', 'off') %}
            Không phát hiện chuyển động
          {% endif %}
  - platform: template
    sensors:
      device2:
        friendly_name: "Cảm biến 02" 
        value_template: >-
          {% if is_state('binary_sensor.motion_sensor_158d000223ee38', 'on') %}
            Phát hiện có chuyển động
          {% elif is_state('binary_sensor.motion_sensor_158d000223ee38', 'off') %}
            Không phát hiện chuyển động
          {% endif %}      
  - platform: template
    sensors:
      device3:
        friendly_name: "Cảm biến 03" 
        value_template: >-
          {% if is_state('binary_sensor.motion_sensor_158d00022889df', 'on') %}
            Phát hiện có chuyển động
          {% elif is_state('binary_sensor.motion_sensor_158d00022889df', 'off') %}
            Không phát hiện chuyển động
          {% endif %}        
  - platform: darksky
    api_key: 8790ebc6e3b65a52d3521e2ae9a2222f
    monitored_conditions:
      - summary
      - icon
      - nearest_storm_distance
      - apparent_temperature
      - temperature
      - humidity
      - pressure
      - uv_index
      
  - platform: template
    sensors:
      weathertoday:
        friendly_name: "Thời tiết hôm nay" 
        value_template: >-
          {% if is_state('sensor.dark_sky_icon', 'partly-cloudy-day') %}
            Ngày trời ít mây
          {% elif is_state('sensor.dark_sky_icon', 'clear-day') %}
            Ngày trời trong xanh
          {% elif is_state('sensor.dark_sky_icon', 'clear-night') %}
            Đêm trời đẹp
          {% elif is_state('sensor.dark_sky_icon', 'rain') %}
            Trời mưa
          {% elif is_state('sensor.dark_sky_icon', 'wind') %}
            Gió nhiều
          {% elif is_state('sensor.dark_sky_icon', 'cloudy') %}
            Trời nhiều mây
          {% elif is_state('sensor.dark_sky_icon', 'partly-cloudy-night') %}
            Đêm trời nhiều mây
          {% elif is_state('sensor.dark_sky_icon', 'fog') %}
            Sương mù
          {% elif is_state('sensor.dark_sky_nearest_storm_distance', 'unknown') %}
            Không có cơn bão nào
          {% else %}
            ...
          {% endif %}
group:
 
  default_view:
    view: yes
    icon: mdi:home
    entities:
      - group.climate
      - group.anninh
      - script.thongbaohoan
      - group.den
      - group.caidat

  caidat:
    name: Cài đặt tự động
    view: no
    entities:
      - automation.bao_khach
      - automation.tu_ong_bao_ong
      - automation.bao_ong_trong_nha
      - automation.tu_ong_mo_en_khi_troi_toi
      - automation.tu_ong_tat_en_khi_troi_sang
      
  den:
    name: Đèn
    view: no
    entities:
      - switch.en_cua
      
  anninh:
    name: An ninh nhà
    view: no
    entities:
      - sensor.device1
      - sensor.device2
      - sensor.device3
      - switch.cong_tac_bao_ong
  climateout:
    name: Thời tiết bên ngoài
    view: yes
    entities:
      - group.climate
  climate:
    name: Thời tiết bên ngoài
    view: no
    entities:
      - sun.sun
      - sensor.dark_sky_uv_index
      - sensor.dark_sky_temperature
      - sensor.dark_sky_pressure
      - sensor.dark_sky_humidity
      - sensor.dark_sky_apparent_temperature
      - sensor.dark_sky_nearest_storm_distance
      - sensor.weathertoday
automation: !include automations.yaml
switch:
  - platform: mqtt
    name: Đèn cửa
    state_topic: "relay/dencuastate"
    command_topic: "relay/dencua"
    payload_on: "1"
    payload_off: "0"
    qos: 0
    retain: true
  - platform: mqtt
    name: Công tắc báo động
    state_topic: "relay/baodongstate"
    command_topic: "relay/baodong"
    payload_on: "1"
    payload_off: "0"
    qos: 0
    retain: true
#script: 
 # thongbaohoan:
  #  sequence:
   # - service: notify.thongbao
    #  data:
     #   title: Thông báo từ nhà Hoan
      #  message: Có chuyển động ở cửa
       

       # data:
        #  renotify: 0
        
    
         # badge: Thông báo từ nhà Hoan
     
xiaomi_aqara:
  discovery_retry: 3
  
  gateways:

    - key: 7zx1bi6pzmnsvwwk

#otify:
 # - name: thongbao
  #  platform: html5
   # gcm_api_key: 'AAAAuvI_nzI:APA91bFrxToer5XIJmXlQySBgKjM_uN-Lzsmkrfp0MPBVhPGk8jIz2GxUp0Zuk6ps0WUw4QeBsgj7fQ6GXolD6ZvaM3KsrVoLqUKgOgrAPgXCGMDPGZtyxYqgIlGAuesQfor0xmqTWj4'
    #gcm_sender_id: '802928172850'
